<h1>Calcula tu tasa de interes anual según tu capital.</h1>

<form action="/interest-per-year" method="POST">
  <div>
    <label>Capital: </label>
    <input type="number" name="capital" required="true" placeholder="$0">
    <br>
    <label>Tasa de interes anual: </label>
    <input type="text" name="interestRate" required="true" placeholder="0.0">
    <br>
    <label>Cantidad de años: </label>
    <input type="number" name="yearsQty" required="true" placeholder="0">
  </div>
  <button type="submit">Calcular</button>
</form>